* {
    padding: 0px;
    margin: 0px;
}
/*Header*/

header {
    background-color: #606060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;


}
.imagen-logo{
    padding-left: 15vw;
}

.links {
    padding-right: 15vw;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    flex-direction: row;

}

.page-links{
    padding-left:40px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    
}

a:hover {
    color: yellow;
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}

/*----------------------------------------*/



/* deixar responsivo*/

@media (max-width: 600px) {
    /*Parte do Header*/
    .links ul {
        flex-direction: column;
    }
    li {
        padding-bottom: 5px;
    }

}

footer {
    background: url(../imagens/bg.jpg);
    text-align: center;
    padding: 40px 0px;
}

.copyright{
    color:white;
    font-size: 0.8em;
    margin-top: 5px;

}



main {
    width: 940px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

form {
    margin-left: 100px ;
    
}

.input-padrão {
    display: block;
    padding: 10px 25px;
    width: 50%;
    margin: 20px 0px 10px 0px;
}
label {
    display: block;
    margin: 20px 0px 10px 0px ;
}

.checkbox {
    margin: 20px 0;
}

fieldset {
    border: none;
}

.submit-button {
    width: 40%;
    padding: 15px 0px;
    margin-bottom: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

.submit-button:hover {
    background-color: yellow;
    transition: ease-in-out 0.7s;
    font-weight: bolder;
}

.table-times {
    margin: 20px 0px 40px 100px ;
    
}

thead {
    background-color: #555;
    font-weight: bold;
    color: white;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}